div{
  height: 100px;
  width: 100px;
  background-color: aliceblue;
  border: 2px solid black;
  transition-property: all;
  position:absolute;
  top: 100px;
  animation-name: colorani;
  animation-duration:0.25s ;
  animation-timing-function: ease-in;
  animation-delay: 1s;
  animation-iteration-count: 2;

}
@keyframes colorani{
  from{background-color: aqua;}
  to{background-color: red;}
}
