div{
  height: 100px;
  width: 100px;
  background-color: aliceblue;
}
@media(max-width:300px){
  div{
  background-color: yellow;
}
}
@media(min-width:300px) and (max-width:500px){
  div{
  background-color:green;
}
}